{sub_dirs, [
            "apps/",
            "rel"
            ]}.

{deps_dir, ["deps"]}.
{erl_opts, [debug_info, fail_on_warning]}.

{deps, [{base58, ".*", {git, "https://github.com/mbrix/erl-base58"}},
{erlsha2, ".*", {git, "https://github.com/vinoski/erlsha2.git"}},
{libsecp256k1, ".*", {git, "https://github.com/mbrix/libsecp256k1.git"}}]}.
